<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('课程详情')"></head>

<body>
<header th:replace="base/fragment::header(${session.userType},0)"></header>

<div class="wrapper">
  <div class="container">

    <div class="page-content-left">
      <div class="nav-left" th:replace="base/fragment::nav-left(${session.userType}, 0, -1)"></div>
    </div>

    <div class="page-content">
      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">课程概要</h2>
        </div>
        <div class="course-brief">
          <img class="course-img" src="../build/img/course1.png" th:src="@{/build/img/course1.png}" alt="课程图片">
          <div class="course-brief-group">
            <div class="course-brief-text">
              <p class="name">课程名</p>
              <p class="value" th:text="${course.name}">演员的自我修养</p>
            </div>
            <div class="course-brief-text">
              <p class="name">课程时间</p>
              <p class="value">
                <th:block th:text="${course.startTime}">2016-12-11</th:block>
                -
                <th:block th:text="${course.endTime}">2016-12-12</th:block>
              </p>
            </div>
            <div class="course-brief-text">
              <p class="name">课程教师</p>
              <p class="value" th:text="${course.teacher}">尹天仇</p>
            </div>
            <div class="button-group">
              <a class="ui button primary" th:if="${session.userType}==1"
                 th:href="@{/course/edit(id=${course.id})}">修改</a>
            </div>
          </div>
        </div>
      </div>

      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">课程介绍</h2>
        </div>
        <text class="course-intro" th:text="${course.description}">
          《演员自我修养》是斯坦尼斯拉夫斯基（俄国演员，导演，戏剧教育家、理论家）的最为知名的代表作，是斯坦尼斯拉夫斯基表演体系的精华，在世界范围内产生了极大的影响[1] 。
          在周星驰经典电影《喜剧之王》中是用来表现主角精神追求的重要道具。
        </text>
      </div>

      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">会员学员</h2>
        </div>
        <th:block th:if="${#lists.size(studentList)!=0}">
          <div class="ui relaxed divided list member-list">
            <div class="item member-item" th:each="student:${studentList}" th:data-order-id="${student.orderId}"
                 th:data-course-id="${course.id}">
              <!--<img src="" alt="" class="avatar">-->
              <i class="circular inverted large user middle aligned icon avatar"></i>
              <div class="content middle aligned">
                <a class="header" th:text="${student.name}">托尼·斯塔克</a>
                <div class="description">于 <span th:text="${student.joinTime}">2016-10-12</span> 加入</div>
              </div>
              <th:block th:if="${student.score}==(-1)">
                <button class="ui button quit-button">退课</button>
              </th:block>
              <th:block th:if="${student.score}==(-1)">
                <button class="ui button score-button">登记成绩</button>
              </th:block>
              <th:block th:unless="${student.score}==(-1)">
                <p class="score"><span th:text="${student.score}">96</span> 分</p>
              </th:block>

            </div>
          </div>
        </th:block>
        <th:block th:unless="${#lists.size(studentList)!=0}">
          <p class="blank-text">该课程暂无学员</p>
        </th:block>
      </div>

      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">非会员学员</h2>
        </div>
        <th:block th:if="${#lists.size(nonMemberList)!=0}">
          <div class="ui relaxed divided list member-list">
            <div class="item member-item" th:each="student:${nonMemberList}" th:data-order-id="${student.orderId}"
                 th:data-course-id="${course.id}">
              <!--<img src="" alt="" class="avatar">-->
              <i class="circular inverted large user middle aligned icon avatar"></i>
              <div class="content middle aligned">
                <a class="header" th:text="${student.name}">托尼·斯塔克</a>
                <div class="description">于 <span th:text="${student.joinTime}">2016-10-12</span> 加入</div>
              </div>
              <th:block th:if="${student.score}==(-1)">
                <button class="ui button quit-button">退课</button>
              </th:block>
              <th:block th:if="${student.score}==(-1)">
                <button class="ui button score-button">登记成绩</button>
              </th:block>
              <th:block th:unless="${student.score}==(-1)">
                <p class="score"><span th:text="${student.score}">96</span> 分</p>
              </th:block>
            </div>
          </div>
        </th:block>
        <th:block th:unless="${#lists.size(nonMemberList)!=0}">
          <p class="blank-text">该课程暂无学员</p>
        </th:block>
      </div>
    </div>
  </div>
</div>

<footer th:replace="base/fragment::footer"></footer>

<th:block th:replace="base/fragment::modal"/>

<th:block th:replace="base/fragment::score-modal"/>

<th:block th:replace="base/fragment::script"/>

</body>

</html>
