<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('布局')"></head>

<body>
<header th:replace="base/fragment::header(0)"></header>

<div class="wrapper">
  <div class="container">

    <div class="page-content-left">
      <div class="nav-left" th:replace="base/fragment::nav-left"></div>
    </div>

    <div class="page-content">
      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">课程列表</h2>
        </div>
        <div class="ui divided items vertical-list">
          <div class="item" th:each="course:${courseList}">
            <img src="../build/img/course1.png" />
            <div class="content">
              <div class="item-title">
                <h3 th:text="${course.name}">演员的自我修养</h3>
                <div class="ui label horizontal" th:if="${course.isActivate}">未审批</div>
              </div>
              <div class="meta" th:text="${course.teacher}">尹天仇</div>
              <div class="meta">
                <span class="date">开始于 <span th:text="${course.startTime}"></span>2013-10-10</span>
              </div>
            </div>
            <div class="button-group">
              <a class="ui button" th:href="@{/course/detail?id=${course.id}}">详情</a>
              <a class="ui button primary" th:href="@{/course/edit?id=${course.id}}">修改</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<footer th:replace="base/fragment::footer"></footer>

<th:block th:replace="base/fragment::script"/>

</body>

</html>
