<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('课程详情')"></head>

<body>
<header th:replace="base/fragment::header(${session.userType}, 0)"></header>

<div class="wrapper">
  <div class="container">

    <div class="page-content-left">
      <div class="nav-left" th:replace="base/fragment::nav-left(${session.userType}, 0, -1)"></div>
    </div>

    <div class="page-content">
      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">课程概要</h2>
        </div>
        <div class="course-brief">
          <img class="course-img" src="../build/img/course1.png" alt="课程图片">
          <div class="course-brief-group">
            <div class="course-brief-text">
              <p class="name">课程名</p>
              <p class="value" th:text="${course.name}">演员的自我修养</p>
            </div>
            <div class="course-brief-text">
              <p class="name">课程时间</p>
              <p class="value"><th:block th:text="${course.startTime}">2016-12-11</th:block> - <th:block th:text="${course.endTime}">2016-12-12</th:block></p>
            </div>
            <div class="course-brief-text">
              <p class="name">课程教师</p>
              <p class="value" th:text="${course.teacher}">尹天仇</p>
            </div>
            <div class="course-brief-text">
              <p class="name">价格</p>
              <p class="value" th:text="${course.price}">100</p>
            </div>
            <div class="button-group">
              <th:block th:if="${isJoined}">
                <a class="ui button red quit-button" th:if="${isPaid}==true">退课</a>
                <a class="ui button primary pay-button animated fade" th:unless="${isPaid}==true">
                  <div class="visible content">支付</div>
                  <div class="hidden content" th:text="'¥'+${price}">¥360</div>
                </a>
                <a class="ui button cancel-button" th:unless="${isPaid}==true">退订</a>
              </th:block>
              <th:block th:unless="${isJoined}">
                <a class="ui button primary buy-button" th:attr="data-id=${course.id}">购买</a>
              </th:block>
            </div>
          </div>
        </div>
      </div>

      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">课程介绍</h2>
        </div>
        <text class="course-intro" th:text="${course.description}">《演员自我修养》是斯坦尼斯拉夫斯基（俄国演员，导演，戏剧教育家、理论家）的最为知名的代表作，是斯坦尼斯拉夫斯基表演体系的精华，在世界范围内产生了极大的影响[1] 。
          在周星驰经典电影《喜剧之王》中是用来表现主角精神追求的重要道具。
        </text>
      </div>

      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">当前学员</h2>
        </div>
        <div class="ui relaxed divided list member-list">
          <div class="item member-item" th:each="student:${studentList}">
            <!--<img src="" alt="" class="avatar">-->
            <i class="circular inverted large user middle aligned icon avatar"></i>
            <div class="content middle aligned">
              <a class="header" th:text="${student.name}">托尼·斯塔克</a>
              <div class="description">于 <span th:text="${student.joinTime}">2016-10-12</span> 加入</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer th:replace="base/fragment::footer"></footer>

<th:block th:replace="base/fragment::modal"/>

<th:block th:replace="base/fragment::script"/>


</body>

</html>
