<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('积分兑换')"></head>

<body>
<header th:replace="base/fragment::header(${session.userType}, 1)"></header>

<div class="wrapper">
  <div class="container">

    <div class="page-content-left">
      <div class="nav-left" th:replace="base/fragment::nav-left(${session.userType}, 1, 2)"></div>
      <a class="ui primary button" th:href="@{/user/edit}">修改个人信息</a>
    </div>

    <div class="page-content">
      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">积分兑换</h2>
        </div>
        <form class="ui form info-form" action="#" th:action="@{/user/exchange}" method="post">
          <div class="ui inline field">
            <label class="info-label">兑换积分</label>
            <input type="text" placeholder="兑换积分" name="point">
          </div>
          <div class="ui icon message info">
            <i class="dollar icon normal"></i>
            <div class="content">
              <p>每1积分可兑换1元余额</p>
            </div>
          </div>
          <div class="ui inline field button-field">
            <label></label>
            <button class="ui button primary" type="submit">确认</button>
            <a class="ui button" onclick="history.go(-1)">取消</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<footer th:replace="base/fragment::footer"></footer>

<th:block th:replace="base/fragment::modal"/>

<th:block th:replace="base/fragment::script"/>

</body>

</html>
