<head th::fragment="head">
    <meta charset="UTF-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <title>Component</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../build/semantic/semantic.min.css">
    <link rel="stylesheet" href="../build/css/style.css"  th:href="@{/build/css/style.css}">
</head>

<header th:fragment="header">
    <nav>
        <div class="wrapper">
            <a class="nav-logo" href="#">TrainingCollege</a>
            <div class="nav-item-group">
                <a class="nav-item" href="#">课程</a>
                <a class="nav-item" href="#">个人</a>
                <a class="nav-item" href="#">机构</a>
            </div>
            <div class="nav-button-group">
            </div>
        </div>
    </nav>
    <div class="nav-title">Day Day up</div>
</header>

<div class="nav-left" th::fragment="nav-left">
    <div class="ui vertical menu">
        <a class="active item">全部课程</a>
        <a class="item">我的课程</a>
        <a class="item">已完成课程</a>
    </div>
</div>

<footer th::fragment="footer"></footer>