<!doctype html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/fragment::head('登录')"></head>

<body>
  <div class="login-page">
    <div class="login-container">
      <h1 class="login-logo">TrainingCollege</h1>
      <form class="ui form login-form"  method="post">
        <div class="form-title">登录</div>
        <div id="first-divider" class="ui divider"></div>
        <div class="field">
          <label for="name">账号</label>
          <input id="name" class="ui input" type="text" placeholder="用户名" name="id" th:value="${id}?${id}">
        </div>
        <div class="field">
          <label for="password">密码</label>
          <input id="password" class="ui input" type="password" placeholder="密码" name="password">
        </div>
        <div id="last-divider" class="ui divider"></div>
        <div class="field button-field">
          <button class="ui button primary big" name="button">登录</button>
          <a class="ui button big" href="/register" th:href="@{/register}">注册</a>
        </div>
      </form>
    </div>
  </div>

  <!-- Scripts -->
  <th:block th:replace="base/fragment::script"/>

</body>

</html>
