<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('布局')"></head>

<body>
<header th:replace="base/fragment::header(0)"></header>

<div class="wrapper">
  <div class="container">

    <div class="page-content-left">
      <div class="nav-left" th:replace="base/fragment::nav-left"></div>
    </div>

    <div class="page-content">
      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">用户信息</h2>
        </div>
        <form class="ui form info-form" action="#">
          <div class="ui inline field disabled">
            <label class="info-label">机构ID</label>
            <input class='disabled' type="text" placeholder="S0000001" th:placeholder="${orgin.id}">
          </div>
          <div class="ui inline field">
            <label class="info-label">机构名</label>
            <input type="text" placeholder="机构名" th:placeholder="${orgin.name}">
          </div>
          <div class="ui inline field">
            <label class="info-label">银行账户</label>
            <input type="text" placeholder="银行账户">
          </div>
          <div class="ui inline field">
            <label></label>
            <button class="ui button primary">确认</button>
            <a class="ui button" onclick="history.go(-1)">取消</a>
          </div>
        </form>
      </div>

      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">修改密码</h2>
        </div>
        <form class="ui form info-form" action="#" th:action="@{/organ/edit/password}">
          <div class="ui inline field disabled">
            <label class="info-label">原密码</label>
            <input class='disabled' type="password" placeholder="原密码">
          </div>
          <div class="ui inline field">
            <label class="info-label">新密码</label>
            <input type="text" placeholder="新密码">
          </div>
          <div class="ui inline field">
            <label class="info-label">确认密码</label>
            <input type="text" placeholder="确认新密码">
          </div>
          <div class="ui inline field">
            <label></label>
            <button class="ui button primary">确认</button>
            <button class="ui button">取消</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

<footer th:replace="base/fragment::footer"></footer>

<th:block th:replace="base/fragment::script"/>

</body>

</html>
