<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('注册')"></head>

<body>
  <div class="login-page">
    <div class="login-container">
      <h1 class="login-logo">TrainingCollege</h1>
      <form class="ui form login-form" action="index.html" th:action="@{/register}" method="post">
        <div class="form-title">注册</div>
        <div id="first-divider" class="ui divider"></div>
        <div class="field">
          <label for="username">名称</label>
          <input id="username" name="id" class="ui input" type="text" placeholder="用户名">
        </div>
        <div class="field">
          <label for="password">密码</label>
          <input id="password" name="password" class="ui input" type="password" placeholder="密码">
        </div>
        <div class="field">
          <label for="password-confirm">确认密码</label>
          <input id="password-confirm" name="confirm" class="ui input" type="password" placeholder="确认密码">
        </div>
        <div class="field">
          <label for="type">类型</label>
          <select id="type" name="type" class="ui dropdown">
            <option value="0">学生</option>
            <option value="1">机构</option>
            <option value="2">经理</option>
          </select>
        </div>
        <div id="last-divider" class="ui divider"></div>
        <div class="field button-field">
          <button class="ui button primary large" type="submit" name="button">注册</button>
          <button class="ui button large" name="button">取消</button>
        </div>
      </form>
    </div>
  </div>

  <th:block th:replace="base/fragment::script"/>
  <script type="text/javascript">
    $('.ui.dropdown').dropdown();
  </script>

</body>

</html>
