<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('会员充值')"></head>

<body>
<header th:replace="base/fragment::header(${session.userType}, (${session.userType}==3)?0:1)"></header>

<div class="wrapper">
  <div class="container">

    <div class="page-content-left">
      <div class="nav-left" th:replace="base/fragment::nav-left(${session.userType}, (${session.userType}==3)?0:1, (${session.userType}==3)?0:1)"></div>
      <a class="ui primary button" th:href="@{/user/edit}" th:unless="${session.userType}==3">修改个人信息</a>
    </div>

    <div class="page-content">
      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">会员充值</h2>
        </div>
        <form class="ui form info-form" action="#" th:action="@{/user/topup}" method="post">
          <div class="ui inline field radio-field">
            <label class="info-label">充值方式</label>
            <div class="ui radio checkbox">
              <input type="radio" name="type" checked="checked">
              <label>会员卡充值</label>
            </div>
            <div class="ui radio checkbox">
              <input type="radio" name="type">
              <label>现金充值</label>
            </div>
          </div>
          <div class="ui inline field">
            <label class="info-label">充值金额</label>
            <input type="text" placeholder="充值金额" name="money">
          </div>
          <div class="ui warning message">
            <div class="header">注意</div>
            <ul class="list">
              <li>初次注册用户，需要先充值1000元以激活账户</li>
              <li>正常用户，当账户余额低于50元时，账户将被冻结，需重新充值激活</li>
              <li>被冻结账户超过一年，会员卡将永久停用</li>
            </ul>
          </div>
          <div class="ui inline field button-field">
            <label></label>
            <button class="ui button primary" type="submit">确认</button>
            <a class="ui button" onclick="history.go(-1)">取消</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<footer th:replace="base/fragment::footer"></footer>

<th:block th:replace="base/fragment::modal"/>

<th:block th:replace="base/fragment::script"/>

</body>

</html>
