</html>
<html lang="zh-CN"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">


<head th:replace="base/fragment::head('个人信息')"></head>

<body>
<header th:replace="base/fragment::header(0)"></header>

<div class="wrapper">
  <div class="container">

    <div class="page-content-left">
      <div class="nav-left" th:replace="base/fragment::nav-left"></div>
    </div>

    <div class="page-content">
      <div class="segment">
        <div class="segment-title">
          <div class="title-rect"></div>
          <h2 class="title">个人信息</h2>
        </div>
        <div class="info-list" >
          <div class="info-item">
            <p class="name">用户ID</p>
            <p class="value" th:text="${student.id}">S0000001</p>
          </div>
          <div class="info-item">
            <p class="name">学员姓名</p>
            <p class="value" th:text="${student.name}">托尼·斯塔克</p>
          </div>
          <div class="info-item">
            <p class="name">银行账户</p>
            <p class="value" th:text="${student.account}">00000000000010</p>
          </div>
          <div class="info-item">
            <p class="name">余额</p>
            <p class="value" th:text="${student.balance}">1000</p>
          </div>
          <div class="info-item">
            <p class="name">学员等级</p>
            <p class="value" th:text="${student.level}">2</p>
          </div>
          <div class="info-item">
            <p class="name">学员积分</p>
            <p class="value" th:text="${student.point}">1000</p>
          </div>
          <div class="info-item">
            <div class="name"></div>
            <a class="ui button primary" th:href="@{/user/edit}">修改信息</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer th:replace="base/fragment::footer"></footer>

<th:block th:replace="base/fragment::script"/>

</body>

</html>