<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="0">
  <title th:inline="text">[[${title}]]</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../../build/semantic/semantic.min.css" th:href="@{/build/semantic/semantic.min.css}">
  <link rel="stylesheet" href="../../build/css/toastr.css" th:href="@{/build/css/toastr.css}">
  <link rel="stylesheet" href="../../build/css/style.css" th:href="@{/build/css/style.css}">
</head>

<header th:fragment="header(userType, active)">
  <nav>
    <div class="wrapper">
      <a class="nav-logo" href="#" th:href="@{/login}">TrainingCollege</a>
      <div class="nav-item-group" th:switch="${userType}">
        <th:block th:case="0">
          <a class="nav-item" th:class="'nav-item ' + (${active}==0 ? 'active')" href="#"
             th:href="@{/course/all}">课程</a>
          <a class="nav-item" th:class="'nav-item ' + (${active}==1 ? 'active')" href="#" th:href="@{/user/info}">个人</a>
          <a class="nav-item" th:class="'nav-item ' + (${active}==2 ? 'active')" href="#"
             th:href="@{/stat/student}">统计</a>
        </th:block>
        <th:block th:case="1">
          <a class="nav-item" th:class="'nav-item ' + (${active}==0 ? 'active')" href="#" th:href="@{/course/manage}">课程</a>
          <a class="nav-item" th:class="'nav-item ' + (${active}==1 ? 'active')" href="#" th:href="@{/user/info}">机构</a>
          <a class="nav-item" th:class="'nav-item ' + (${active}==2 ? 'active')" href="#" th:href="@{/quota/income}">指标</a>
          <a class="nav-item" th:class="'nav-item ' + (${active}==3 ? 'active')" href="#" th:href="@{/stat/organ}">统计</a>
        </th:block>
        <th:block th:case="2">
          <a class="nav-item" th:class="'nav-item ' + (${active}==0 ? 'active')" href="#" th:href="@{/course/approve}">课程</a>
          <a class="nav-item" th:class="'nav-item ' + (${active}==1 ? 'active')" href="#" th:href="@{/stat/site}">统计</a>
          <a class="nav-item" th:class="'nav-item ' + (${active}==2 ? 'active')" href="#" th:href="@{/quota/income}">指标</a>
        </th:block>
        <th:block th:case="3">
          <a class="nav-item" th:class="'nav-item ' + (${active}==0 ? 'active')" href="#" th:href="@{/user/info}">个人</a>
        </th:block>
      </div>
      <div class="nav-button-group">
        <div class="sign-out-icon" data-tooltip="登出" data-position="bottom right">
          <i class="large sign out icon"></i>
        </div>
      </div>
    </div>
  </nav>
  <div class="nav-title">Day Day Up</div>
</header>

<div class="ui vertical menu nav-left" th:fragment="nav-left(userType, active, subActive)" th:switch="${userType}">
  <th:block th:case="0">
    <th:block th:switch="${active}">
      <th:block th:case="0">
        <a class="item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/course/all}">全部课程</a>
        <a class="item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/course/mine}">我的课程</a>
        <a class="item" th:class="'item '+(${subActive}==2?'active')" th:href="@{/course/over}">退订与退课课程</a>
      </th:block>
      <th:block th:case="1">
        <a class="active item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/user/info}">个人信息</a>
        <a class="item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/user/topup}">充值</a>
        <a class="item" th:class="'item '+(${subActive}==2?'active')" th:href="@{/user/exchange}">积分兑换</a>
      </th:block>
      <th:block th:case="2">
        <a class="active item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/stat/student}">统计信息</a>
      </th:block>
    </th:block>
  </th:block>
  <th:block th:case="1">
    <th:block th:switch="${active}">
      <th:block th:case="0">
        <a class="item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/course/manage}">课程管理</a>
        <a class="item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/course/manage/over}">已结束课程</a>
      </th:block>
      <th:block th:case="1">
        <a class="active item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/user/info}">机构信息</a>
        <a class="active item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/course/join}">添加学员</a>
      </th:block>
      <th:block th:case="3">
        <a class="active item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/stat/organ}">统计信息</a>
      </th:block>
      <th:block th:case="2">
        <a class="active item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/quota/income}">收益指标</a>
        <a class="item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/quota/course}">课程指标</a>
        <a class="item" th:class="'item '+(${subActive}==3?'active')" th:href="@{/quota/feedback}">反馈指标</a>
        <a class="item" th:class="'item '+(${subActive}==4?'active')" th:href="@{/quota/teacher}">教师指标</a>
      </th:block>
    </th:block>
  </th:block>
  <th:block th:case="2">
    <th:block th:switch="${active}">
      <th:block th:case="0">
        <a class="item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/course/approve}">审批课程</a>
        <a class="item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/settlement}">结算课程</a>
      </th:block>
      <th:block th:case="1">
        <a class="active item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/stat/site}">统计信息</a>
      </th:block>
      <th:block th:case="2">
        <a class="active item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/quota/income}">收益指标</a>
        <a class="item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/quota/course}">课程指标</a>
        <a class="item" th:class="'item '+(${subActive}==2?'active')" th:href="@{/quota/organ}">机构指标</a>
        <a class="item" th:class="'item '+(${subActive}==3?'active')" th:href="@{/quota/feedback}">反馈指标</a>
        <a class="item" th:class="'item '+(${subActive}==4?'active')" th:href="@{/quota/teacher}">教师指标</a>
        <a class="item" th:class="'item '+(${subActive}==5?'active')" th:href="@{/quota/convert}">转化指标</a>
      </th:block>
    </th:block>
  </th:block>
  <th:block th:case="3">
    <th:block th:switch="${active}">
      <th:block th:case="0">
        <a class="item" th:class="'item '+(${subActive}==0?'active')" th:href="@{/user/info}">个人信息</a>
        <a class="item" th:class="'item '+(${subActive}==1?'active')" th:href="@{/user/topup}">充值</a>
      </th:block>
    </th:block>
  </th:block>
</div>

<footer th:fragment="footer">
  <p>Designed & developed by Moo. Copyright © 2017-2018</p>
</footer>

<th:block th:fragment="script">
  <script th:inline="javascript">
      var message = [[${message}]];
      var error_message = [[${errorMessage}]];
      var userId = [[${session.user}]];
      var userType = [[${session.userType}]];
  </script>

  <script src="/build/js/jquery.min.js"></script>
  <script src="/build/semantic/semantic.min.js"></script>
  <script src="/build/js/toastr.min.js"></script>
  <script src="/build/js/echarts.common.min.js"></script>
  <script src="/build/js/main.js"></script>
  <script src="/build/js/stat.js"></script>
</th:block>

<div class="ui modal small" id="modal" th:fragment="modal">
  <i class="close icon"></i>
  <div class="header">
    <p>提示</p>
  </div>
  <div class="content">
    <p id="modal-content">你确定购买该课程吗？</p>
  </div>
  <div class="actions">
    <a class="ui deny button">取消</a>
    <a class="ui primary ok button">确认</a>
  </div>
</div>

<div class="ui modal small" id="score-modal" th:fragment="score-modal">
  <i class="close icon"></i>
  <div class="header">
    <p>登记成绩</p>
  </div>
    <div class="content">
      <form class="ui form info-form" th:action="@{/course/score}" onsubmit="return false">
        <div class="ui inline field score-field">
          <label class="info-label">成绩</label>
          <input class="fluid" type="text" placeholder="输入0至100中任意数字" id="score-input">
        </div>
      </form>
    </div>
    <div class="actions">
      <a class="ui deny button">取消</a>
      <a class="ui primary ok button">确认</a>
    </div>
</div>
