<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="0">
  <title th:inline="text">[[${title}]]</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../../build/semantic/semantic.min.css" th:href="@{/build/semantic/semantic.min.css}">
  <link rel="stylesheet" href="../../build/css/style.css" th:href="@{/build/css/style.css}">
</head>

<header th:fragment="header(active)">
  <nav>
    <div class="wrapper">
      <a class="nav-logo" href="#">TrainingCollege</a>
      <div class="nav-item-group">
        <a class="nav-item" th:class="'nav-item ' + (${active}==0 ? 'active')" href="#" th:href="@{/course-list}">课程</a>
        <a class="nav-item" th:class="'nav-item ' + (${active}==1 ? 'active')" href="#" th:href="@{/user-info}">个人</a>
        <a class="nav-item" th:class="'nav-item ' + (${active}==2 ? 'active')" href="#">机构</a>
      </div>
      <div class="nav-button-group">
      </div>
    </div>
  </nav>
  <div class="nav-title">Day Day up</div>
</header>

<div class="ui vertical menu nav-left" th:fragment="nav-left">
  <a class="active item">全部课程</a>
  <a class="item">我的课程</a>
  <a class="item">已完成课程</a>
</div>

<footer th:fragment="footer"></footer>

<th:block th:fragment="script">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/build/semantic/semantic.min.js"></script>
</th:block>
